<style>
body {
    background-color:#dddddd;
  }

  .button_new {
    background-color: white;
    color: black;
    border: 2px solid #96bb7c;
    padding: 14px 40px;
    border-radius: 12px;
    font-size: 20px;
  }
  .button_new:hover {background-color: #96bb7c;}
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .c_show{
    font-size: 20px;
  }
</style>
<div class="center">
<h1>New Movie</h1>
</div>

<%= form_for @movie do |f| %>
    <br>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :rating %>
    <%= f.text_field :rating %>
    <br>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br>
    <%= f.label :release_date %>
    <%= f.date_field :release_date %>
    <br>
    <%= f.submit %>
    <br>
<% end %>