<br />
<H1><center><font color="#96bb7c"><B>Search Movie from TheMovieDb</B></font></center></H1>
<br />


<div class="center">
<%= form_tag search_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] ,class: "form-control mb-2 " %>
  <%#= submit_tag "Search" ,:class => 'btn btn-success' ,:autocomplete => "off"%>
<% end %>
  </div>
  <br>
  <div class="center">
  </div>
  <br>
  <div class="center">
<div class="box_table">
<div class="table-wrapper-scroll-y my-custom-scrollbar">
<table class="table table-hover" width="70%" border="5px" bgcolor="#96bb7c" padding="15px">
  <thead>
    <tr>
    <th >Title</th>
    <th >Rating</th>
    <th >Release Date</th>
    <th style="width:7%" colspan="1"></th>
    </tr>
  </thead>

  <tbody bgcolor="#f5f1da">
    <% @movie_list.each do |movie| %>
      <tr>
      <td padding: 15px ><img src="https://image.tmdb.org/t/p/w500/<%= movie['poster_path'] %>" alt="" height="15%"><br><%= movie['title'] %></td>
      <td padding: 15px><%= movie['vote_average'] %></td>
      <td padding: 15px><%= movie['release_date'] %></td>
      <td padding: 15px><%= link_to '<button class="button_table">Show</button>'.html_safe, movie %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div> 
</div> 


<br>