<!DOCTYPE html>
<html>
  <head>
    <title>Bookkytomatoes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<style>

.navbar {
  overflow: hidden;
  background-color: #96bb7c;
}

.navbar a {
  font-size: 48px;
  color: #c26565;
  text-align: center;
  text-decoration: none;
  font-family: monaco,Consolas,Lucida Console,monospace; 
  text-shadow: 0 0 10px #FFFFFF, 2px 2px 2px rgba(206,89,55,0);
}



body{
  background-color: #c26565;
}


.button_home {
  background-color: #eebb4d;
  color: black;
  border: 2px solid #eebb4d;
  padding: 26px 20px;
  font-size: 16px;
  display: block;
  font-family: monaco,Consolas,Lucida Console,monospace; 
  
}

.button_new {
  background-color: #f5f1da;
  color: #c26565;
  border: 4px solid #96bb7c;
  padding: 14px 20px;
  border-radius: 12px;
  font-size: 24px;
  font-family: monaco,Consolas,Lucida Console,monospace; 
}

.button_new:hover {background-color: #96bb7c;color: white;}

.button_table {
  background-color: white;
  color: #c26565;
  border: 2px solid #96bb7c;
  padding: 7px 15px;
  border-radius: 12px;
  font-size: 16px;
  font-family: monaco,Consolas,Lucida Console,monospace; 
}
.button_table:hover {background-color: #96bb7c;color: white;}

body{
  background-color: #c26565;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box_table {
  width: 1400px;
  padding: 10px;
  margin: 0;
}

h1{
  font-family: monaco,Consolas,Lucida Console,monospace; 
}

label{
  font-family: monaco,Consolas,Lucida Console,monospace; 
  font-size: 20px;
}

.c_show{
  font-size: 20px;
}

.movie-form {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  color: #c26565;
  background: #f5f1da;
  border-radius: 10px;
  border: 7px groove #96bb7c;
  font-family: monaco,Consolas,Lucida Console,monospace; 

  h1 {
    margin: 0 0 24px 0;
  }

  .form-input-material {
    margin: 12px 0;
  }

  .btn {
    width: 100%;
    margin: 18px 0 9px 0;
  }
}

#table-scroll {
  height:150px;
  overflow:auto;  
  margin-top:20px;
}

.number_rating{
  placeholder:1-10
}

.button_submit {
  background-color: #f5f1da ;
  color: #96bb7c;
  border: 4px solid #96bb7c;
  padding: 14px 40px;
  border-radius: 12px;
  font-family: monaco,Consolas,Lucida Console,monospace; 
  font-size: 20px;
}

.button_submit:hover {background-color: #96bb7c;color: white;}

.button_back {
  background-color: #f5f1da ;
  color: #c26565;
  border: 4px solid #c26565;
  padding: 14px 40px;
  border-radius: 12px;
  font-family: monaco,Consolas,Lucida Console,monospace; 
  font-size: 20px;
}

.button_back:hover {background-color: #c26565 ;color: white;}

.button_search {
  background-color: #f5f1da ;
  color: #c26565;
  border: 4px solid #c26565;
  padding: 4px 20px;
  border-radius: 12px;
  font-family: monaco,Consolas,Lucida Console,monospace; 
  font-size: 20px;
}

.button_search:hover {background-color: #c26565 ;color: white;}

.button_delete {
  background-color: #f5f1da ;
  color: #eebb4d;
  border: 4px solid #eebb4d ;
  padding: 14px 40px;
  border-radius: 12px;
  font-family: monaco,Consolas,Lucida Console,monospace; 
  font-size: 20px;
}

.button_delete:hover {background-color: #eebb4d ;color: white;}

.button_sign_in {
  background-color: #f5f1da ;
  color: #96bb7c;
  border: 4px solid #96bb7c ;
  padding: 7px 20px;
  border-radius: 12px;
  font-family: monaco,Consolas,Lucida Console,monospace; 
  font-size: 16px;
}

.button_sign_in:hover {background-color: #96bb7c ;color: white;}

.button_log_in {
  background-color: #f5f1da ;
  color: #eebb4d;
  border: 4px solid #eebb4d ;
  padding: 7px 20px;
  border-radius: 12px;
  font-family: monaco,Consolas,Lucida Console,monospace; 
  font-size: 16px;
}

.button_log_in:hover {background-color: #eebb4d ;color: white;}

.button_sign_in_facebook {
  background-color: #f5f1da ;
  color: #3B5998;
  border: 4px solid #3B5998 ;
  padding: 7px 20px;
  border-radius: 12px;
  font-family: monaco,Consolas,Lucida Console,monospace; 
  font-size: 16px;
}

.button_sign_in_facebook:hover {background-color: #3B5998 ;color: white;}

.button_sign_in_facebook_main {
  background-color: #f5f1da ;
  color: #3B5998;
  border: 4px solid #3B5998 ;
  padding: 14px 40px;
  border-radius: 12px;
  font-family: monaco,Consolas,Lucida Console,monospace; 
  font-size: 24px;
}

.button_sign_in_facebook_main:hover {background-color: #3B5998 ;color: white;}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 7px 20px;
  border-radius: 12px;
  font-family: monaco,Consolas,Lucida Console,monospace; 
  font-size: 16px;
}

table{
  font-family: Cambria,Georgia,serif; 
  font-size: 20px;
}



</style>


<div class="navbar">
<%= link_to 'BOOKKYTOMATOES', movies_path %>
<%= form_tag search_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] ,:class => 'input_search' %>
  <%= submit_tag "Search" ,:class => 'button_search' ,:autocomplete => "off"%>
</div>

<p id="notice"><%= notice %></p>  
    </head>
  

  <body>
    <%= yield %>
  </body>
</html>
<% end %>


